@media screen and (max-width: 500px) {

        .hero{
            display: flex;
            flex-direction: column-reverse;
        }
        .hero .right img{
            max-width: 100%;
        }

        .hero .left h1{
            font-size:40px;
        }
        .hero .left .ux-d{
            font-size: 30px;
        }
        .hero .left p{
            font-size: 16px;
            margin-top: 20px;
        }


       section .ppp{
            display: flex;
            flex-direction: column;
        }
        section .ppp .pp{
            width: 100%;
            overflow: hidden;
            border: 2px solid #000033;
            margin-top: 5px;

        }

        

        .skill{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }


        .skill .right-a{
            display: flex;
            flex-direction: column;
            margin-top: 50px;

        }
        .skill .right-a .box{
            margin: 0 auto;
            width: 100%;

        }

        .container{
            width: 100%;
        }


        .footer{
            display: flex;
            flex-direction: column;
        }
        .footer .one{
            display: none;
        }
        .footer .two{
            margin: 0 auto;
        }

  }






  /* 500-1080 */

  @media screen and (max-width:1023px) {

    .hero{
        display: flex;
        flex-direction: column-reverse;
    }
    .hero .right{
        width: 100%;
        margin: 0 auto;
    }
    .hero .right img{
        max-width: 100%;
    }

    .hero .left h1{
        font-size:40px;
    }
    .hero .left .ux-d{
        font-size: 30px;
    }
    .hero .left p{
        font-size: 16px;
        margin-top: 20px;
    }


   section .ppp{
        display: flex;
        flex-direction: column;
    }
    section .ppp .pp{
        width: 100%;
        overflow: hidden;
        border: 2px solid #000033;
        margin-top: 5px;

    }

    

    .skill{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .skill .right-a{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }
    .skill .right-a .box{
        margin: 0 auto;
        width: 100%;

    }

    .container{
        width: 100%;
    }


    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .one{
        display: none;
    }
    .footer .two{
        margin: 0 auto;
    }

}


/* 1024 - infiniti */

@media screen and (max-width:1366px) and (min-width:1024px) {
.skill{
    display: flex;
    gap: 30px;
}
.skill .left-a{
    width: 200px;

}


}

